
/** Nav */
.kotak{
    border : 1px solid;
    height: 60px;
    background-color: white;
}
body{
    background-color: #cbf2f5;
}

img{
    height: 50px;
    display: block;
    margin : 0 auto;
}
.nav{
    border-bottom: 1px solid;
    margin-top: 10px;
    margin-left: 800px;
    background-color: white;
}
.nav a{
    float: left;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }